html, 
body { 
	height: 100%;
	margin: 0;
	padding: 0; 
}
      
.flex-container { height: 100vh; display: flex;}
#map { height: 100%; flex-basis: 70%;}
#places { flex-basis: 30%; height: 100%; background: red;}
#pac-input { position: relative; }