/*
-------------------------------------
Global
-------------------------------------
*/

html, 
body { 
	height: 100%;
	margin: 0;
	padding: 0; 
	font-family: sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*
-------------------------------------
Map
-------------------------------------
*/

#map {
	height: 100%;
	width: 100%;
}

/*
-------------------------------------
Search Results
-------------------------------------
*/

#places {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	height: 450px;
}

ul {
	overflow: scroll;
	height: 385px;
}

ul li {
	padding: 10px 0;
	border-bottom: 1px solid #999;
}

ul li:first-child {
	padding-top: 20px;
}

ul li:last-child {
	border-bottom: 0;
}

/*
-------------------------------------
Form Input
-------------------------------------
*/

#places form {
	display: flex;
	align-items: stretch;
}

#search {
	flex: 3;
	padding: 5px;
	font-size: 1em;
}

input[type="submit"] {
	flex: 1;
	background-color: #21ce2f;
	color: white;
	text-transform: uppercase;
	border: 0;
}

/*
-------------------------------------
Filter
-------------------------------------
*/

#filter {
	display: flex;
	margin-top: 10px;
}

#filter a {
	border: 2px solid black;
	flex: 1 1 50%;
	padding: 5px;
	text-align: center;
	background-color: #ccc;
}

/*
-------------------------------------
Mobile Layout
-------------------------------------
*/

@media screen and (max-width: 700px) {
	body {
		display: flex;
		flex-direction: column;
	}

	#map {
		height: 100%;
	}

	#places {
		position: relative;
		height: 40vh;
		top: 0;
		right: 0;
	}

	#places ul {
		height: 35vh;
	}	
}